// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

.btn-brand
{
    
    background-color: rgb(56, 170, 149) !important;
    border-color: rgb(56, 170, 149) !important;
    &:hover{
        background-color: rgb(56, 170, 149) !important;
    border-color: rgb(56, 170, 149) !important;
    }
}

.btn-primary{
    background-color: rgb(56, 170, 149) !important;
    border-color: rgb(56, 170, 149) !important;
    &:hover{
        background-color: rgb(56, 170, 149) !important;
    border-color: rgb(56, 170, 149) !important;
    }
}
.align-middle{
    box-decoration-break:clone;
}
.logo{
    height: 3rem !important;
}

.problem-action-btn{
    border: none;
}

.problem{
    padding-top: 10px;
}